/* Style for Footer Component */
.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .footer-content p {
    margin: 5px 0;
    font-size: 16px;
  }
  